---
title: <CF>
---

<div class="main-container">
				<br>
			<br>
			<br>

	<div class="ftux">
		<p class="">
			<big>Get Started</big>
			<br>
			<big style="margin-left: 2em;">with</big>
			<br>
			<img style="margin-left: 7em; width:" src="images/cf/logo.png">
			<p style="margin-left: 12em;">
				Cloud Foundry is an open-source platform as a service, or PaaS, 
				<br>
				that provides you with a choice of clouds, developer frameworks, and 
				<br>
				application services.</p>
		</p>
	</div>
</div>
<ul class="panels">
	<li class="panel span3">
		<a class="configure" href="/pivotalcf/getstarted/pcf-docs.html" id="pivotal-cf">
			<div class="prodname">
				<span class="title-deemph">First Steps</span> <span class="title-emph">Get Started</span><span class='tmr'></span>
			</div>
		</a>
	</li>
	<li class="panel span3">
		<a class="configure" href="/pivotalcf/getstarted/pcf-docs.html" id="pivotal-cf">
			<div class="prodname">
				<span class="title-deemph">Participate</span> <span class="title-emph">Contribute</span><span class='tmr'></span>
			</div>
		</a>
	</li>            
	<li class="panel span3">
		<a class="configure" href="/pivotalcf/getstarted/pcf-docs.html" id="pivotal-cf">
			<div class="prodname">
				<span class="title-deemph">Sample Projects</span> <span class="title-emph">Explore</span><span class='tmr'></span>
			</div>
		</a>
	</li>            
</ul>