---
breadcrumb: Pivotal Cloud Foundry&reg; Documentation
title: Using Operations Manager
owner: Ops Manager
---

Operations Manager is a web application that you use to deploy and manage a [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) PaaS.
This is a guide to deploying and using Ops Manager.

## Before You Deploy

* <a class="subnav" href="./requirements.html">Prerequisites to Deploying Operations Manager and Elastic Runtime</a>

* <a class="subnav" href="./config_firewall.html">Preparing Your Firewall for Deploying Pivotal Cloud Foundry&reg;</a>

* <a class="subnav" href="./custom-load-balancer.html">Using Your Own Load Balancer</a>

* <a class="subnav" href="./resurrector.html">Using Ops Manager Resurrector on VMware vSphere</a>

* <a class="subnav" href="./understand-az.html">Understanding Availability Zones in VMware Installations</a>

* <a class="subnav" href="./network-segmentation.html">Configuring Network Isolation Options in Ops Manager</a>

## Deploying Operations Manager

* <a class="subnav" href="./deploying-vm.html">Deploying Operations Manager to vSphere</a>

* <a class="subnav" href="./disk-format.html">Provisioning a Virtual Disk in vSphere</a>

* <a class="subnav" href="./vsphere.html">Installing Pivotal Cloud Foundry&reg; on vSphere and vCloud Air</a>

* <a class="subnav" href="./pcf-vchs-vcloud.html">Deploying Operations Manager to vCloud Air and vCloud</a>

* <a class="subnav" href="./openstack.html">Installing Pivotal Cloud Foundry&reg; on OpenStack</a>

* <a class="subnav" href="./openstack-setup.html">Provisioning the OpenStack Infrastructure</a>

* <a class="subnav" href="./cloudform.html">Installing Pivotal Cloud Foundry&reg; on AWS</a>

* <a class="subnav" href="./cloudform-template.html">Deploying the CloudFormation Template for Pivotal Cloud Foundry&reg; on AWS</a>

* <a class="subnav" href="./cloudform-om-deploy.html">Launching an Ops Manager Director Instance on AWS</a>

* <a class="subnav" href="./nexus-switch.html">Using the Cisco Nexus 1000v Switch with Ops Manager</a>

* <a class="subnav" href="./apps-enable-diego.html">Migrating Apps to Diego</a>

## Operations Manager API

Use the Ops Manager API to automate any Ops Manager task. To view the Ops
Manager API documentation, browse to `https://YOUR-OPS-MANAGER-IP-ADDRESS/docs`.

<p class="note"><strong>Warning</strong>: The Ops Manager API is not officially supported and could change without notice.</p>

## Using Operations Manager and Installed Products

* <a class="subnav" href="./pcf-interface.html">Understanding the Ops Manager Interface</a>

* <a class="subnav" href="./add-delete.html">Adding and Deleting Products</a>

* <a class="subnav" href="./cloudform-om-config.html">Configuring Ops Manager Director for AWS</a>

* <a class="subnav" href="./cloudform-om-ebs-config.html">Configuring Amazon EBS Encryption</a>

* <a class="subnav" href="./vsphere-config.html">Configuring Ops Manager Director for VMware vSphere</a>

* <a class="subnav" href="./vchs-vcloud-config.html">Configuring Ops Manager Director for vCloud Air and vCloud</a>

* <a class="subnav" href="./openstack-om-config.html">Configuring Ops Manager Director for OpenStack</a>

* <a class="subnav" href="./api-endpoint.html">Identifying the API Endpoint for your Elastic Runtime Instance</a>

* <a class="subnav" href="./cloudform-er-config.html">Deploying Elastic Runtime on AWS</a>

* <a class="subnav" href="./config-er-vmware.html">Configuring Elastic Runtime for vSphere and vCloud</a>

* <a class="subnav" href="./openstack-er-config.html">Installing Elastic Runtime after Deploying Pivotal Cloud Foundry&reg; on OpenStack</a>

* <a class="subnav" href="./start-stop-vms.html">Starting and Stopping Pivotal Cloud Foundry&reg; Virtual Machines</a>

* <a class="subnav" href="./creating-account.html">Creating New Elastic Runtime User Accounts</a>

* <a class="subnav" href="./console-login.html">Logging into the Apps Manager</a>

* <a class="subnav" href="./console-env-variables.html">Controlling Apps Manager User Activity with Environment Variables</a>

* <a class="subnav" href="./autoscale-configuration.html">Configuring Your App Autoscaling Instance</a>

* <a class="subnav" href="./scheduled-scaling.html">Managing Scheduled Scaling in the App Autoscaling Service</a>

* <a class="subnav" href="./ldap-user-management.html">Adding Existing LDAP Users to a Pivotal Cloud Foundry&reg; Deployment</a>

* <a class="subnav" href="./deleting-aws-install.html">Deleting an AWS Installation from the Console</a>

## Backing Up and Upgrading

* <a class="subnav" href="./backup-restore/backup-pcf.html">Backing Up Pivotal Cloud Foundry&reg;</a>

* <a class="subnav" href="./backup-restore/restore-pcf.html">Restoring Pivotal Cloud Foundry&reg; from Backup</a>

* <a class="subnav" href="./upgrading-pcf.html">Upgrading Operations Manager</a>

* <a class="subnav" href="./cloudform_elb_ssh_proxy.html">Creating a Proxy ELB for Diego SSH without CloudFormation</a>

* <a class="subnav" href="./upgrading-products.html">Upgrading Elastic Runtime and Other Pivotal Cloud Foundry&reg; Products</a>

## Monitoring, Logging, and Troubleshooting

* <a class="subnav" href="./monitoring.html">Monitoring Virtual Machines in Pivotal Cloud Foundry&reg;</a>

* <a class="subnav" href="./deploy-metrics.html">Deploying Pivotal Ops Metrics</a>

* <a class="subnav" href="./self-signed-ssl.html">Using SSL with a Self-Signed Certificate in Pivotal Ops Metrics</a>

* <a class="subnav" href="./use-metrics.html">Using Pivotal Ops Metrics</a>

* <a class="subnav" href="./troubleshooting-uninstall-metrics.html">Troubleshooting and Uninstalling Pivotal Ops Metrics</a>

* <a class="subnav" href="./troubleshooting.html">Pivotal Cloud Foundry&reg; Troubleshooting Guide</a>

* <a class="subnav" href="./troubleshooting-vsphere.html">Troubleshooting Ops Manager for VMware vSphere</a>

* <a class="subnav" href="./mysql_bootstrap_ert.html">Recovering MySQL from Elastic Runtime Downtime</a>

* <a class="subnav" href="./trouble-advanced.html">Advanced Troubleshooting with the BOSH CLI</a>

* <a class="subnav" href="./pcf-security.html">Pivotal Cloud Foundry&reg; Security Overview and Policy</a>
